:local
  .main
    width 100px
    height 100%
    position absolute
    top 0
    right 0
  .stripe
    height 100%
    width 25%
    float left
    &:first-child
      background #3E80C2
    &:nth-child(2)
      background #47C5EE
    &:nth-child(3)
      background #EA5425
    &:nth-child(4)
      background #F8DA3D
