:local
  .app
    width 100%
    height 100%
    background background linear-gradient(to bottom,  #2c4762 0%,#12263a 100%)
  .contacts
    z-index 2
    position absolute
    bottom 0
    left 0
    padding 1em
    .link
      display inline-block
    .icon
      color white
      margin 0 10px
      font-size 1.5em
      transition transform 200ms
      &:hover
        transform scale(1.1, 1.1)
