:local
  .main
    height 100%
    display flex
    align-items center
    justify-content center
    z-index 2
    position relative
  .container
    text-align center
  img:first-child
    width 207px
  img:last-child
    width 307px
